{
    "env": {
        "commonjs": {
            "presets": [
                "es2015",
                "react"
            ],
            "plugins": [
                "transform-runtime",
                "transform-class-properties",
                "transform-object-rest-spread",
            ]
        },
        "es": {
            "presets": [
                ["es2015", {
                    "loose": false,
                    "modules": false
                }],
                "react"
            ],
            "plugins": [
                "transform-runtime",
                "transform-class-properties",
                "transform-object-rest-spread",
            ]
        },
        "test": {
            "presets": [
                "es2015",
                "react"
            ],
            "plugins": [
                "transform-class-properties",
                "transform-object-rest-spread",
                ["istanbul", {
                    "exclude": [
                        "**/test/*.js"
                    ]
                }]
            ]
        }
    }
}
