{
    "env": {
        "commonjs": {
            "presets": [
                ["@babel/preset-env", {
                    "modules": "commonjs"
                }],
                "@babel/preset-react"
            ],
            "plugins": [
                "@babel/transform-runtime",
                "@babel/plugin-proposal-class-properties",
            ]
        },
        "es": {
            "presets": [
                ["@babel/preset-env", {
                    "loose": false,
                    "modules": false
                }],
                "@babel/preset-react"
            ],
            "plugins": [
                "@babel/transform-runtime",
                "@babel/plugin-proposal-class-properties",
            ]
        },
        "test": {
            "presets": [
                "@babel/preset-env",
                "@babel/preset-react"
            ],
            "plugins": [
                "@babel/plugin-proposal-class-properties",
                ["istanbul", {
                    "exclude": [
                        "**/test/*.js"
                    ]
                }]
            ]
        }
    }
}
