{
    "presets": ["es2015", "stage-0", "react"],
    "plugins": [
        ["react-version", {
            version: "014"
        }]
    ],

    "env": {
        "production-0.13": {
            "plugins": [
                ["react-version", {
                    version: "013"
                }]
            ]
        }
    }
}
