// Overwrite bootstrap variables
$font-family-base: 'Open Sans', 'Helvetica Neue', Arial, Helvetica, sans-serif;
$headings-font-family: 'Lato', $font-family-base;

$jumbotron-bg: #ef6036;
$jumbotron-color: #fff;
