// styles.scss

@import "compass";
@import "variables";

@import "base";
@import "example";
@import "footer";


.container--main {
    padding-bottom: 30px;
}

.logo-square {
    background: url('../images/logo.svg') no-repeat center center;
    height: 63px;
    width: 63px;
}

.logo-wide {
    float: left;
    display: block;
    background: url('../images/logo-wide.svg') no-repeat center center;
    width: 120px;
    height: 40px;

    + span {
        margin-left: 15px;
    }
}

.jumbotron {
    background: $jumbotron-bg url('../images/header.png') no-repeat center top;
    background-size: cover;
    min-height: 400px;
    text-align: center;
    padding: 84px 0;

    &, h1, h2, h3 {
        color: $jumbotron-text;
    }

    .logo-square {
        margin: 0 auto;
    }

    h1 {
        font-size: 20px;
        font-weight: 400;
        margin-top: 16px;
    }

    h2 {
        font-size: 50px;
        margin-top: 33px;
    }

    h3 {
        font-size: 14px;
        margin-top: 25px;
        opacity: 0.53;
    }
}

.link-block {
    padding-top: 110px;

    .example-block {
        > h4 {
            font-size: 45px;
            line-height: 54px;
            margin-bottom: 5px;
        }

        > p {
            margin-bottom: 24px;
        }
    }
}


.container {
    .tg-modal {
        text-align: center;

        .tg-modal-dialog .tg-modal-content {
            border-radius: 5px;

            .tg-modal-header {
                padding-bottom: 0;

                .tg-modal-title {
                    font-size: 45px;
                    line-height: 54px;
                    margin-bottom: 20px;
                }

                .tg-modal-close {
                    font-family: $headings-font-family;
                    font-size: 24px;
                    border-radius: 5px;
                }
            }

            .tg-modal-body {
                padding-left: 50px;
                padding-right: 50px;
            }

            .tg-modal-footer {
                padding-top: 0;
            }
        }

        &.tg-modal-basic {
            &, h1, p {
                color: #fff;
            }
        }
    }
}

.long {
    .tg-modal-body {
        &, p {
            color: #798489;
            font-family: $content-font-family;
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;
        }

        p {
            margin-bottom: 16px;
        }
    }
}
