// styles.scss

@import "bootstrap";

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.container--main {
    padding-bottom: 30px;
}

.jumbotron {
    text-align: center;
    padding: 80px 0;

    p.lead {
        margin-bottom: 20px;
        font-size: 20px;
        font-weight: 300;
        line-height: 1.4;
        opacity: 0.7;

        + p.lead {
            font-size: 30px;
            opacity: 1;
        }
    }

    .version {
        opacity: 0.5;
    }


    @media (min-width: 768px) {
        padding: 160px 0;
    }
}

.link-block {
    .example-block {
        padding-bottom: 15px;
        border-bottom: 1px solid #eee;

        &:last-child {
            border-bottom: none;
        }

        h2 {
            margin-top: 0;
        }

        + .example-block {
            padding-top: 15px;
        }

        .modal-example {
            a.btn-primary + span {
                margin-left: 15px;
            }
        }

        .btn-group + .code-block {
            margin-top: 15px;
            overflow-x: auto;
            max-width: 100%;

            pre {
                min-width: 900px;
            }
        }
    }
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: $gray-lighter;
}
