// styles.scss

@import "compass/reset";

$fontStackBody: 'Open Sans', 'Helvetica Neue', Arial, Helvetica, sans-serif;
$fontStackHeadings: 'Lato', $fontStackBody;

* {
    box-sizing: border-box;
}

body {
    color: #3c3c50;
    font-family: $fontStackBody;
    font-size: 14px;
    line-height: 1.2em;
}

.container {
    margin: 0 auto;
    max-width: 768px;
}

.h1, h1 {
    font-size: 36px;
}

.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}

.h1, .h2, .h3, .h4, .h5, .h6,
h1, h2, h3, h4, h5, h6 {
    font-family: $fontStackHeadings;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}

h1 {
    margin: .67em 0;
    font-size: 2em;
}

h2 {
    margin: .67em 0;
    font-size: 1.3em;
}

p {
    color: rgba(25, 40, 59, 0.64);
    margin: 0 0 9px 0;
}

a {
    color: #337ab7;
    text-decoration: none;
    cursor: pointer;

    &:hover {
        text-decoration: underline;
    }
}

.link-block {
    a {
        display: block;
        margin: 0 0 5px 0;
    }
}
